// visualino landing page
// www.visualino.cc
// www.artica.cc

// imports
// @import 'compass';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,300italic,400italic,600italic,700,700italic,800,800italic);

$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bootstrap overrides 
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$grid-gutter-width: 0 !default;
$navbar-border-radius: 0 !default;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// visualino colors 
$color-background: #3E444F;
$color-red: #FF3710;
$color-yellow: #FFE500;
$color-green: #34CB20;
$color-cyan: #2CF2FF;
$color-blue: #61B3FF;
$color-pink: #FB87FF;

// mixins

@mixin circle($radius) {
  border-radius: 50%;
  color: white;
  display: block;
  font-size: 6rem;
  height: $radius;
  line-height: 14rem;
  margin: 0 auto;
  text-align: center;
  width: $radius;
}

body {
  background-color: $color-background;
  color: white;
  -webkit-font-smoothing: antialiased;

  h3 {
    font-size: 3rem;
    line-height: 6rem;
    height: 6rem;
    text-align: center;
  }
}

.navbar-brand {
  float: left;
  padding: 15px 0;
  font-size: 18px;
  line-height: 20px;
  height: auto;
}

#bullets {
  padding: 5rem 0;

  h4 {
    height: 6rem;
    text-align: center;
  }

  p {
    text-align: center
  }

  .circle { 
    @include circle(140px); 

    &.red { background-color: $color-red; }
    &.yellow { background-color: $color-yellow; }
    &.green { background-color: $color-green; }
    &.cyan { background-color: $color-cyan; }
    &.blue { background-color: $color-blue }
    &.pink { background-color: $color-pink }
  }
}

// youtube player
#player_uid_739826345_1 > div.ytp-thumbnail-overlay.ytp-cued-thumbnail-overlay {
  -webkit-filter: contrast(1.1) saturate(2.3) brightness(0.9);
}

// mailchimp style

#subscribe {
  background-color: $color-blue;

  #mc_embed_signup {
    clear: left; 
    color: black;

    .clear {
      padding: 0 2rem;
      margin-bottom: 2rem;
    }

    .mc-field-group {
      width: 100%;
      padding: 2rem;
    }

    & div.mce_inline_error {
      background-color: $color-red !important;
    }

    input {
      appearance: none !important;
      border: none !important;
      outline: 0;
    }
  }

  #mc-embedded-subscribe {
      // clear: both;
      width: 100%;
      display: block;
      margin: 0 !important;
    }
}

#contact {
  p {
    text-align: center;
    margin: 2rem 0;
  }

  address {

    i {
      display: block;
      font-size: 4rem;
    }

    & > div {
      margin: 2rem;
    }
    p {
      margin: 0;
    }
  }

  .social {
    margin-bottom: 2rem;

    a {
      color: white;

      &:active,
      &:hover {
        opacity: .5;
      }
    }

    i {
      font-size: 2.5rem;
      width: 48px;
      height: 48px;
      color: white;
      line-height: 4.75rem;
      border-radius: 50%;

      &.fa-globe { background-color: #fff; color: $color-background; }
      &.fa-twitter { background-color: #55acee; }
      &.fa-facebook { background-color: #3b5998; }
      &.fa-youtube { background-color: #cd201f; }
      &.fa-github { background-color: #ff9933; }
      &.fa-slideshare { background-color: #fff; color: $color-background; }
    }
  }

  #google-maps {
    display: none;
  }
}